/*
Maroon color: #830028
grey colour: #A6A6A6
Black colour: #000000
*/

.navbar-brand {
    font-style: oblique;
    font-weight: bold;
    -webkit-text-stroke: 1.5px #830028;
    -webkit-text-fill-color: #A6A6A6;
    padding: 10px;
}

.navbar-default {
    background-color: #A6A6A6;
    border-radius: 20px;
    border-color: #830028;
    border-width: 10px;
    padding: 10px;
}

ul.nav li.active-class {
    border-radius: 10px;
    -webkit-text-fill-color: #A6A6A6;
    background-color: #830028;
}

ul.nav li>a {
    -webkit-text-fill-color: #971b2f;
    margin: 5px;
}

ul.nav li.active-class>a {
    -webkit-text-fill-color: #ffffff;
}

ul.nav li:hover {
    background-color: #757575;
    border-radius: 10px;
}

ul.nav li>a:hover {
    -webkit-text-fill-color: #ffffff !important;
}

.btn-primary {
    background: #830028;
    -webkit-text-fill-color: #white;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background: #830028;
    border: none;
}

.btn-secondary {
    background: A6A6A6;
    -webkit-text-fill-color: 000000;
    border: none;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    background: A6A6A6;
    -webkit-text-fill-color: 000000;
    border: none;
}

.btn-tertiary {
    background: #830028;
    -webkit-text-fill-color: #A6A6A6;
    border-color: #830028;
}
.btn-tertiary:hover, .btn-tertiary:focus, .btn-tertiary:active, .btn-tertiary.active, .open>.dropdown-toggle.btn-tertiary {
    background: A6A6A6;
    -webkit-text-fill-color: #A6A6A6;
    border-color: A6A6A6;
}
.small-img-left{
  
}

body {
    background-color: #A6A6A6;
}
